/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,900;1,9..40,1000&display=swap');


:root {
  /* buscasa */
  --clr-primary: #283040;
  --clr-secondary: #874000;
  --clr-grey-dark: #6A6F7B;
  --clr-grey: #989CA6;
  --clr-white: #F6F6F6;
}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: var(--clr-white);
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    'DM Sans', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family:
    'DM Sans', serif;
  font-weight: 800;
  line-height: 1.25;
  margin: 0 0 0.5rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

ul {
  list-style-position: inside;
}

.button {
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  border-radius: 5px;
  color: var(--clr-white);
  display: flex;
  font-family: 'DM Sans', sans-serif;;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
}
.button--outline {
  background-color: transparent;
  color: var(--clr-primary);
}

.button--brown {
  background-color: var(--clr-secondary);
  border: 2px solid var(--clr-secondary);
}
.button--brown.button--outline {
  background-color: transparent;
  color: var(--clr-secondary);
}